<div class="page-main-header">
    <div class="main-header-right">
        <div class="nav-right">
            <img src="../../assets/trebot2.png" class="logo">
            <ul class="nav">
                <li><a class="text-reset text-decoration-none" [routerLink]="['exchange']">Trade</a></li>
                <li><a class="text-reset text-decoration-none" [routerLink]="['prices']">Markets</a></li>
                <li><a class="text-reset text-decoration-none" [routerLink]="['buy-crypto']">Buy Crypto</a></li>
                <li><a class="text-reset text-decoration-none">Rewards</a></li>
                <li><a class="text-reset text-decoration-none">Referral</a></li>
                <li><a class="text-reset text-decoration-none">Affiliate</a></li>
                <li><a class="text-reset text-decoration-none">VIP</a></li>
            </ul>
        </div>
        <div class="nav-right nav2">
            <ul class="nav-menus">
                <li>
                    <a>
                        <img src="../../assets/iconedown.svg">
                    </a>
                </li>
                <li>
                    <a>
                        <img src="../../assets/iconedark.svg">
                    </a>
                </li>
                <li class="onhover-dropdown">
                    <a class="txt -dark" href="javascript:void(0)">
                        <img src="../../assets/langicone.svg">
                    </a>
                </li>
                <!-- Affiche "Log In" et "Sign Up" uniquement si l'utilisateur n'est pas connecté -->
                <li *ngIf="!isLoggedIn">
                    <a [routerLink]="['/login']" class="text-decoration-none">Log In</a>
                </li>
            </ul>
            <button *ngIf="!isLoggedIn" class="button signup" type="button" [routerLink]="['/signup']">Sign Up</button>
            <!-- Affiche "Log Out" uniquement si l'utilisateur est connecté -->
            <button *ngIf="isLoggedIn" class="button" type="button" (click)="onLogout()">Log Out</button>
            <div class="d-lg-none mobile-toggle pull-right"></div>
        </div>
    </div>
</div>
