<div class="row footercontainer">
    <div class="col collinks">
        <div class="row">
            <h1>ABOUT</h1>
            <ul>
                <li>About us</li>
                <li>Fee Rate</li>
                <li>Careers</li>
                <li>Blog</li>
            </ul>
        </div>
        <div class="row">
            <h1>TRADE CRYPTO </h1>
            <ul>
                <li>BTC/USDT</li>
                <li>ETH/USDT</li>
                <li>BNB/USDT</li>
                <li>TRX/USDT</li>
            </ul>
        </div>
    </div>
    <div class="col collinks">
        <div class="row ">
            <h1>SERVICE</h1>
            <ul>
                <li>Buy crypto</li>
                <li>Referral</li>
                <li>Affiliate</li>
                <li>VIP</li>
            </ul>
        </div>
        <div class="row ">
            <h1>CONTACT US </h1>
            <ul>
                <li>Business Cooperation</li>
                <li>Institution Cooperation</li>
                <li>Customer Service Email</li>
                <li>Media support</li>
            </ul>
        </div>
    </div>
    <div class="col collinks">
        <div class="row ">
            <h1>LEGAL</h1>
            <ul>
                <li>AML&CFT</li>
                <li>Privacy</li>
                <li>User Agreement</li>
                <li>Terms of service</li>
            </ul>
        </div>
    </div>
    <div class="col newsletter">
        <div class="row">
            <p class="newssubmit">Submit for updates.</p>
        </div>
        <div class="row">
            <p>Subscribe to get update and notify our<br>
                exchange and products</p>
        </div>
        <div class="row">
            <div class="form-container">
                <input type="email" placeholder="Enter your email address" />
                <button type="button">Submit</button>
            </div>
        </div>
        <div class="row copyright">
            © 2024 Xtrebot. All Rights Reserved.
        </div>  
    </div>

</div>
