.footercontainer{
    width: 98%;
    margin-left: 5px;
    margin-top: 100px;
}

.col{
}

.colimg img{
    margin-top: 60px;
    width: 100%;
}

.collinks{
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.collinks h1{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}

.collinks ul{
    margin-top: -5px;
}

.collinks ul li{
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 21px;
    color: #777e90c3;
    list-style: none;
    padding: 6px;
}

.newsletter{
    margin-top: 20px;
    background-color: #E0E9FD;
    width: 35%;
    border-radius: 20px;
    text-align: center;
    height: 250px;
    padding: 40px;

}



.newssubmit{
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    font-weight: 700px;
    color: black;
}

p {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color:#777E90;
    margin-bottom: 30px;
    margin-top: -10px;
}   

.form-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 18px;
    width: fit-content;
}

input[type="email"] {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 12px 16px;
    border: none;
    width: 250px;
    outline: none;
    height: 5px;
}

input[type="email"]::placeholder {
    color: #8a8888ac; /* Light gray placeholder */
}

button {
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700; /* Semi-bold */
    font-size: 1rem;
    color: #fff;
    background-color: #3772FF; /* Blue button color */
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    border-left: 1px solid #ddd; /* To separate input and button */
    border-radius: 18px;
    margin : 5px;
    height: 45;
    margin-right: -5px;
}

.copyright{
    font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 60px;
    margin-left: 40px;
    color: #8a8888ac; /* Light gray placeholder */
}