<div class="container-fluid">
    <div class="row mt-5">
        <h1 class="title">Buy Crypto in One Click</h1>
        <p class="mt-1">Pay with the currency and payment method of your choice.
        </p>
    </div>
    <div class="row">
        <div class="imgcont">
            <img src="../../assets/mastercard.svg">
        </div>
        <div class="imgcont">
            <img src="../../assets/visa.svg">
        </div>
        <div class="imgcont">
            <img src="../../assets/paypal.svg">
        </div>
        <div class="imgcont">
            <img src="../../assets/sepa.svg">
        </div>
        <div class="imgcont">
            <img src="../../assets/apple.svg">
        </div>
        <div class="imgcont">
            <img src="../../assets/gpay.svg">
        </div>
    </div>
    <div class="row mt-5 bg-white rounded">
        <div class="col-2 mt-3 ">
            <div class="row d-flex justify-content-center align-items-center">
                <img src="../../assets/transac.svg" class="imgrow">
            </div>
            <div class="row mt-2 d-flex justify-content-center align-items-center">
                <button type="button" class="button d-flex justify-content-center align-items-center"><a href="https://global.transak.com/"  class="text-decoration-none text-reset">
                    Continue to Transak</a>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h5>Buy Crypto with Transak</h5>
            </div>
            <div class="row">
                <p class="p2">Transak supports credit & debit cards, Apple Pay, MobiKwik, and bank<br>
                    transfers (depending on location) in 100+ countries.</p>
            </div>
        </div>
    </div>
    <div class="row mt-5 bg-white rounded">
        <div class="col-2 mt-3 ">
            <div class="row d-flex justify-content-center align-items-center">
                <img src="../../assets/transac.svg" class="imgrow">
            </div>
            <div class="row mt-2 d-flex justify-content-center align-items-center">
                <button type="button" class="button d-flex justify-content-center align-items-center">
                    <a href="https://pay.sendwyre.com/"  class="text-decoration-none text-reset">
                    Continue to Wyre</a>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h5>Buy Crypto with Wyre</h5>
            </div>
            <div class="row">
                <p class="p2">Easy onboarding for purchases up to $ 1000. Fast interactive high limit purchase verification<br>
                    Supports Debit/Credit Card, Apple Pay, Bank Transfers. Available in 100+ countries.</p>
            </div>
        </div>
    </div>
    <div class="row mt-5 bg-white rounded">
        <div class="col-2 mt-3 ">
            <div class="row d-flex justify-content-center align-items-center">
                <img src="../../assets/transac.svg" class="imgrow">
            </div>
            <div class="row mt-2 d-flex justify-content-center align-items-center">
                <button type="button" class="button d-flex justify-content-center align-items-center">
                    <a href="https://buy.moonpay.com/"  class="text-decoration-none text-reset">
                    Continue to MoonPay</a>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h5>Buy Crypto with MoonPay</h5>
            </div>
            <div class="row">
                <p class="p2">MoonPay supports popular payment methods, including Visa, Mastercard,<br>
                    Apple / Google / Samsung Pay, and bank transfers in 145+ countries.</p>
            </div>
        </div>
    </div>
</div>