<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        @if (!isLeftSidebarCollapsed()) {
        <div class="logo-img">
            <img [src]="imgLogo">
        </div>
        }
        <button class="logo" (click)="toggleCollapse()">
            <img class="icon-left" [ngClass]="{'icon-collapsed': isLeftSidebarCollapsed()}" [src]="iconLeft">
        </button>
    </div>
    <div class="sidenav-nav">
        @for (item of items; track $index) {
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" [routerLink]="item.routeLink" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }" (mouseenter)="setHoveredIndex($index)"
                (mouseleave)="setHoveredIndex(null)">
                <img class="sidenav-link-icon"
                    [src]="(hoveredItemIndex === $index || isActive(item.routeLink)) ? item.hoverIcon : item.icon"
                    >
                @if (!isLeftSidebarCollapsed()) {
                <span class="sidenav-link-text">{{ item.label }}</span>
                }
            </a>
        </li>
        }
    </div>
</div>