<h2>XonBIT</h2>
<h1>Blog & News</h1>
<app-carousel-blog class="carousel"></app-carousel-blog>
<div class="container">
    <div class="row">
        @for (blog of blogs; track $index) {
        <div class="card">
            <div class="card-header">
                <a [routerLink]="blog.slug">
                    <img [src]="blog.image" [alt]="blog.title">
                </a>
            </div>
            <div class="card-body">
                <p>{{blog.date}}</p>
                <h2>{{blog.title}}</h2>
            </div>
            <div class="card-footer">
                <a class="btn-link" [routerLink]="blog.slug">
                    View
                </a>
            </div>
        </div>
        }
    </div>
</div>