
h2 {
    margin-top: 46px;
    font-size: 28px;
    font-weight: 500;
}

h1 {
    font-size: 46px;
    font-weight: 600;
    line-height: 48px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    h2 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    h1 {
        font-size: 28px;
        line-height: 32px;
        margin-top: 10px;
    }

    .carousel {
        display: none;
    }
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px 30px 40px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

.card {
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
    border-radius: 22px;
    border: 1.3px solid rgba(31, 33, 40, 0.08);
    background-color: #fff;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
}

.card-header {
    cursor: pointer;
}

.card-header img {
    border-radius: 22px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
}

.card-body p {
    background-color: #D5EFDB;
    padding: 10px 6px;
    width: 140px;
    margin: 25px 30px;
    color: #4fbf67;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.card-body h2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: #191b21;
    margin: 15px 28px;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: auto;
}

.card-footer .btn-link {
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    color: #191b21;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding: 15px 0px;
    margin: 0px 20px 20px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 1.3px solid rgba(31, 33, 40, 0.08);
}

@media (max-width: 768px) {
    h2 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    h1 {
        font-size: 28px;
        line-height: 32px;
        margin-top: 10px;
    }

    .carousel {
        display: none;
    }

    .container {
        margin: 20px;
        padding: 0;
    }

    .row {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .card {
        flex: 0 1 auto;
        max-width: 100%;
        margin-bottom: 20px;
        border-radius: 15px;
    }

    .card-header img {
        border-radius: 15px;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card-body p {
        padding: 5px 2px;
        width: 100px;
        margin: 8px 10px;
        font-size: 10px;
        font-weight: 500;
        border-radius: 50px;
        text-align: center;
        margin-bottom: 0px;
    }

    .card-body h2 {
        font-size: 14px;
        line-height: 20px;
        margin: 10px 14px;
    }

    .card-footer .btn-link {
        font-size: 12px;
        padding: 10px 0px;
        margin: 0px 6px 6px 6px;
        border-radius: 12px;
    }
}
.card-header,
.card-footer {
border: none;
box-shadow: none;
padding: 0;
}
.card-header, .card-footer {
    background-color: #fff;
}