<app-sidebar [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)" />
<div class="overlay" *ngIf="isMobile() && !isLeftSidebarCollapsed()"></div>
<div [ngClass]="isLeftSidebarCollapsed() ? 'main-content-collapsed' : 'main-content'">
  <button class="right" (click)="toggleCollapse()" *ngIf="isMobile()">
    <img class="icon-left" [ngClass]="{'icon-collapsed': isLeftSidebarCollapsed()}" [src]="iconLeft" width="25">
  </button>
  <app-header></app-header>
  <router-outlet>
  </router-outlet>
<app-footer></app-footer>
</div>