<div class="row container bg-white mt-5 ">
    <div class="ele1 d-flex">
        <div class="col mb-5">
            <div class="title">Total Balance</div>
            <div class="sold">0 <span>BTC</span></div>
            <div class="pricedet">0.00 USD</div>
        </div>
        <div class="col  text-end">
            <button class="button"><img src="../../assets/upright.svg"> Withdraw</button>
            <button class="button" style="background-color: rgba(128, 128, 128, 0.318);color: black;"><img src="../../assets/downleft.svg"> Depposit</button>
        </div>
    </div>
    <div class="row ">
        <div class="col-3 col2 border rounded">
            <div class="row">
                <div class="col-3">
                    <img src="../../assets/asset1.svg">
                </div>
                <div class="col col22"> 
                    <div class="row title2">Asset Balance</div>
                    <div class="row price2">0 BTC</div>
                    <div class="row pricedet2">0.00 USD</div>
                </div>
            </div>
        </div>
        <div class="col-3 col2 border rounded">
            <div class="row">
                <div class="col-3">
                    <img src="../../assets/asset2.svg">
                </div>
                <div class="col col22"> 
                    <div class="row title2">Exchange Balance</div>
                    <div class="row price2">0 BTC</div>
                    <div class="row pricedet2">0.00 USD</div>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="row title2">Asset Balance</div>
            <div class="row">
                <div class="litbx1"></div>
            </div>
            <div class="row">
                Exchange Balance
            </div>
            <div class="row">
                <div class="litbx2"></div>
             </div>
        </div>
    </div>
</div>