<div class="row container bg-white mt-5 ">
    <div class="ele1 d-flex">
        <div class="col mb-5">
            <div class="title">Total Balance</div>
            <div class="sold">0 <span>BTC</span></div>
            <div class="pricedet">0.00 USD</div>
        </div>
        <div class="col text-end">
            <button class="button" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">
                <img src="../../assets/upright.svg">
                Withdraw</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content border">
                        <div class="head">
                            <div class="modal-title-cont">
                                <div class="modal-title text-start">Withdraw</div>
                            </div>
                            <div class="colxct" style="cursor: pointer;">
                                <div class="colx border" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="../../assets/x.svg" alt="Close">
                                </div>
                            </div>
                        </div>
                        <div class="modal-body text-start">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle border" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="row">
                                        <div class="col-2">
                                            <img [src]="coins[this.selectedCoin].img" alt="BTC"
                                                style="width: 30px; height: 30px; margin-top: 5px;">
                                        </div>
                                        <div class="col">
                                            <div class="row lit">{{coins[this.selectedCoin].litname}}</div>
                                            <div class="row tit">{{coins[this.selectedCoin].name}}</div>
                                        </div>
                                    </div>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li *ngFor="let coin of coins;  let i = index" (click)="selectCoin(i)">
                                        <div class="row">
                                            <div class="col-2">
                                                <img [src]="coin.img" alt="BTC"
                                                    style="width: 30px; height: 30px; margin-top: 5px;">
                                            </div>
                                            <div class="col">
                                                <div class="row lit">{{coin.litname}}</div>
                                                <div class="row tit">{{coin.name}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div *ngIf="this.selectedCoin == 0 || this.selectedCoin == 1"
                                class="row mt-4 choose rounded border">
                                <h4>Choose network</h4>
                                <div *ngIf="this.selectedCoin == 0" class="networkcont">
                                    <div class="network border">BTC</div>
                                    <div class="network border">BEP-20</div>
                                </div>
                                <div *ngIf="this.selectedCoin == 1" class="networkcont">
                                    <div class="network border">ERC-20</div>
                                    <div class="network border">BEP-20</div>
                                </div>
                            </div>
                            <form class="form-container mt-2">
                                <div class="form-group">
                                    <label for="formGroupExampleInput" class="label mt-2">Adress</label>
                                    <input type="text" class="form-control" id="formGroupEmail" placeholder="">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="formGroupExampleInput2" class="label mt-2">Amout to withdrawal</label>
                                    <input type="text" class="form-control" id="formGroupPassword" placeholder="">
                                </div>
                            </form>
                            <div class="row avaico mt-4 rounded">
                                <div class="row avai">Available balance</div>
                                <div class="row avaic">0 {{coins[selectedCoin].litname}}</div>
                                <div class="row avais">0.00 USD</div>
                            </div>
                            <div class="row limit rounded mt-3">
                                <div>$20,000.00 daily withdrawal limit.</div>
                            </div>
                            <div class="row border bg-white lastrow mt-3 rounded">
                                <div class="col">
                                    <div class="row trs">Transaction fee</div>
                                    <div class="row avaicl">0 {{coins[selectedCoin].litname}}</div>
                                </div>
                                <div class="col">
                                    <div class="row trs">Total</div>
                                    <div class="row avaicl">0 {{coins[selectedCoin].litname}}</div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <img src="../../assets/upright.svg">
                            Withdraw
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <button class="button" style="background-color: rgba(128, 128, 128, 0.318);color: black;" data-bs-toggle="modal"
            data-bs-target="#exampleModal2">
            <img src="../../assets/downleft.svg">
            Deposit</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="head">
                        <div class="modal-title-cont">
                            <div class="modal-title text-start">Withdraw</div>
                        </div>
                        <div class="colxct" style="cursor: pointer;">
                            <div class="colx border" data-bs-dismiss="modal" aria-label="Close">
                                <img src="../../assets/x.svg" alt="Close">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body text-start">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle border" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="row">
                                    <div class="col-2">
                                        <img [src]="coins[this.selectedCoin].img" alt="BTC"
                                            style="width: 30px; height: 30px; margin-top: 5px;">
                                    </div>
                                    <div class="col">
                                        <div class="row lit">{{coins[this.selectedCoin].litname}}</div>
                                        <div class="row tit">{{coins[this.selectedCoin].name}}</div>
                                    </div>
                                </div>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li *ngFor="let coin of coins;  let i = index" (click)="selectCoin(i)">
                                    <div class="row">
                                        <div class="col-2">
                                            <img [src]="coin.img" alt="BTC"
                                                style="width: 30px; height: 30px; margin-top: 5px;">
                                        </div>
                                        <div class="col">
                                            <div class="row lit">{{coin.litname}}</div>
                                            <div class="row tit">{{coin.name}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="this.selectedCoin ==0 || this.selectedCoin ==1"
                            class="row mt-4 choose rounded border">
                            <h4>Choose network</h4>
                            <div *ngIf="this.selectedCoin == 0" class="networkcont">
                                <div class="network border">BTC</div>
                                <div class="network border">BEP-20</div>
                            </div>
                            <div *ngIf="this.selectedCoin == 1" class="networkcont">
                                <div class="network border">ERC-20</div>
                                <div class="network border">BEP-20</div>
                            </div>
                        </div>
                        <form class="form-container mt-2">
                            <div class="form-group">
                                <label for="formGroupExampleInput" class="label mt-2">Adress</label>
                                <input type="text" class="form-control" id="formGroupEmail" placeholder="azzazaz"
                                    disabled>
                            </div>
                            <div class="form-group mt-2">
                                <label for="formGroupExampleInput2" class="label mt-2">Amout to diposit</label>
                                <input type="text" class="form-control" id="formGroupPassword" placeholder="">
                            </div>
                        </form>
                    </div>
                    <button class="button" style="background-color: rgba(128, 128, 128, 0.318);color: black;">
                        <img src="../../assets/downleft.svg">
                        Deposit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-3 col2 border rounded">
            <div class="row">
                <div class="col-3">
                    <img src="../../assets/asset1.svg">
                </div>
                <div class="col col22">
                    <div class="row title2">Asset Balance</div>
                    <div class="row price2">0 BTC</div>
                    <div class="row pricedet2">0.00 USD</div>
                </div>
            </div>
        </div>
        <div class="col-3 col2 border rounded">
            <div class="row">
                <div class="col-3">
                    <img src="../../assets/asset2.svg">
                </div>
                <div class="col col22">
                    <div class="row title2">Exchange Balance</div>
                    <div class="row price2">0 BTC</div>
                    <div class="row pricedet2">0.00 USD</div>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="row title2">Asset Balance</div>
            <div class="row">
                <div class="litbx1"></div>
            </div>
            <div class="row">
                Exchange Balance
            </div>
            <div class="row">
                <div class="litbx2"></div>
            </div>
        </div>
    </div>
</div>