<div class="row container bg-white mt-5 ">
    <div class="ele1 d-flex">
        <div class="col mb-5">
            <div class="title">Total Balance</div>
            <div class="sold">{{user.btcSolde}} <span>BTC</span></div>
            <div class="pricedet">{{user.usdtSole}} USD</div>
        </div>
        <div class="col text-end">
            <button class="button" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">
                <img src="../../assets/upright.svg">
                Withdraw</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="head">
                            <div class="modal-title-cont">
                                <div class="modal-title text-start">Withdraw</div>
                            </div>
                            <div class="colxct" style="cursor: pointer;">
                                <div class="colx border" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="../../assets/x.svg" alt="Close">
                                </div>
                            </div>
                        </div>
                        <div class="modal-body text-start">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle border" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="row">
                                        <div class="col-2">
                                            <img [src]="coins[selectedCoin]?.img" alt="Coin"
                                                style="width: 30px; height: 30px; margin-top: 5px;">
                                        </div>
                                        <div class="col">
                                            <div class="row lit">{{ coins[selectedCoin]?.litname }}</div>
                                            <div class="row tit">{{ coins[selectedCoin]?.name }}</div>
                                        </div>
                                    </div>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li *ngFor="let coin of coins; let i = index" (click)="selectCoin(i)">
                                        <div class="row">
                                            <div class="col-2">
                                                <img [src]="coin.img" alt="Coin"
                                                    style="width: 30px; height: 30px; margin-top: 5px;">
                                            </div>
                                            <div class="col">
                                                <div class="row lit">{{ coin.litname }}</div>
                                                <div class="row tit">{{ coin.name }}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div *ngIf="selectedCoin === 0 || selectedCoin === 1"
                                class="row mt-4 choose rounded border">
                                <h4>Choose Network</h4>
                                <div *ngIf="selectedCoin === 0" class="networkcont">
                                    <div class="network border" (click)="selectNetwork('BTC')"
                                        [ngClass]="{'selected-network': selectedNetwork === 'BTC'}">BTC</div>
                                    <div class="network border" (click)="selectNetwork('BEP-20')"
                                        [ngClass]="{'selected-network': selectedNetwork === 'BEP-20'}">BEP-20</div>
                                </div>
                                <div *ngIf="selectedCoin === 1" class="networkcont">
                                    <div class="network border" (click)="selectNetwork('ERC-20')"
                                        [ngClass]="{'selected-network': selectedNetwork === 'ERC-20'}">ERC-20</div>
                                    <div class="network border" (click)="selectNetwork('BEP-20')"
                                        [ngClass]="{'selected-network': selectedNetwork === 'BEP-20'}">BEP-20</div>
                                </div>
                            </div>

                            <form class="form-container mt-2" (ngSubmit)="submitWithdraw()">
                                <div class="form-group">
                                    <label for="depositAddress" class="label mt-2">Address</label>
                                    <input type="text" class="form-control" id="depositAddress"
                                        [(ngModel)]="transactionRequest.address" name="address" required>
                                </div>
                                <div class="form-group mt-2">
                                    <label for="depositAmount" class="label mt-2">Amount to Withdraw</label>
                                    <input type="number" class="form-control" id="depositAmount"
                                        [(ngModel)]="transactionRequest.amount" name="amount" required>
                                </div>
                            </form>
                        </div>

                        <button class="button btn btn-primary" (click)="submitWithdraw()" [disabled]="!isFormValid()">
                            <img src="../../assets/upright.svg"> Withdraw
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <button class="button" style="background-color: rgba(128, 128, 128, 0.318);color: black;" data-bs-toggle="modal"
            data-bs-target="#exampleModal2">
            <img src="../../assets/downleft.svg">
            Deposit</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="head">
                        <div class="modal-title-cont">
                            <div class="modal-title text-start">Deposit</div>
                        </div>
                        <div class="colxct" style="cursor: pointer;">
                            <div class="colx border" data-bs-dismiss="modal" aria-label="Close">
                                <img src="../../assets/x.svg" alt="Close">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body text-start">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle border" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="row">
                                    <div class="col-2">
                                        <img [src]="coins[selectedCoin]?.img" alt="Coin"
                                            style="width: 30px; height: 30px; margin-top: 5px;">
                                    </div>
                                    <div class="col">
                                        <div class="row lit">{{ coins[selectedCoin]?.litname }}</div>
                                        <div class="row tit">{{ coins[selectedCoin]?.name }}</div>
                                    </div>
                                </div>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li *ngFor="let coin of coins; let i = index" (click)="selectCoin(i)">
                                    <div class="row">
                                        <div class="col-2">
                                            <img [src]="coin.img" alt="Coin"
                                                style="width: 30px; height: 30px; margin-top: 5px;">
                                        </div>
                                        <div class="col">
                                            <div class="row lit">{{ coin.litname }}</div>
                                            <div class="row tit">{{ coin.name }}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div *ngIf="selectedCoin === 0 || selectedCoin === 1" class="row mt-4 choose rounded border">
                            <h4>Choose Network</h4>
                            <div *ngIf="selectedCoin === 0" class="networkcont">
                                <div class="network border" (click)="selectNetwork('BTC')"
                                    [ngClass]="{'selected-network': selectedNetwork === 'BTC'}">BTC</div>
                                <div class="network border" (click)="selectNetwork('BEP-20')"
                                    [ngClass]="{'selected-network': selectedNetwork === 'BEP-20'}">BEP-20</div>
                            </div>
                            <div *ngIf="selectedCoin === 1" class="networkcont">
                                <div class="network border" (click)="selectNetwork('ERC-20')"
                                    [ngClass]="{'selected-network': selectedNetwork === 'ERC-20'}">ERC-20</div>
                                <div class="network border" (click)="selectNetwork('BEP-20')"
                                    [ngClass]="{'selected-network': selectedNetwork === 'BEP-20'}">BEP-20</div>
                            </div>
                        </div>

                        <form class="form-container mt-2" (ngSubmit)="submitDeposit()">
                            <div class="form-group">
                                <label for="depositAddress" class="label mt-2">Address</label>
                                <input type="text" class="form-control" id="depositAddress"
                                    [(ngModel)]="transactionRequest.address" name="address" required>
                            </div>
                            <div class="form-group mt-2">
                                <label for="depositAmount" class="label mt-2">Amount to Deposit</label>
                                <input type="number" class="form-control" id="depositAmount"
                                    [(ngModel)]="transactionRequest.amount" name="amount" required>
                            </div>
                        </form>
                    </div>

                    <button class="button btn btn" (click)="submitDeposit()" [disabled]="!isFormValid()"
                        style="background-color: rgba(128, 128, 128, 0.318); color: black;">
                        <img src="../../assets/downleft.svg"> Deposit
                    </button>

                </div>
            </div>
        </div>

    </div>
</div>