<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row row1 mb-3">
        <div class="col col1 mt-4 desc">
            <h1 class="title">Buy &amp; sell <br> crypto in minutes</h1>
            <p class="mt-3">Trade Bitcoin, Ethereum USDT, and the top altcoins on<br> the new era of crypto asset
                exchange.</p>
            <div class="form-container">
                <input type="email" placeholder="Enter your email address" />
                <button type="button">Get Started</button>
            </div>
        </div>
        <div class="col col2 text-end">
            <img class="imghome" src="../../assets/imghome.png">
        </div>
    </div>
    <div class="titlecont">
        <h1 class="title">Buy &amp; sell <br> crypto in minutes</h1>
        <p class="mt-3">Trade Bitcoin, Ethereum USDT, and the top altcoins on the new era of crypto asset
            exchange.</p>
        <div class="form-container">
            <input type="email" placeholder="Enter your email address" />
            <button type="button">Get Started</button>
        </div>
    </div>
    <app-carousel-blog class="carousel"></app-carousel-blog>
    <!-- <div class="row nav nav-pills flex-column flex-sm-row mt-4">
        <ul>
            <li><a>All</a></li>
            <li><a>Top Gainers</a></li>
            <li><a>Top Losers</a></li>
            <li><a>Recently Added</a></li>
        </ul>
    </div> -->

    <div class="coinscont">
        <app-cardcoin  *ngFor="let coin of coins"
        [img]="coin.img"
        [name]="coin.name"
        [litname]="coin.litname"
        [price]="coin.price"  
        ></app-cardcoin>
    </div>

    <div class="row row3 mt-5 mb-2">
        <h1>We are the most usability<br> cryptocurrency platform</h1>
        <p>We believe XonBIT is here to stay — and that a future worth building<br> is one which opens its doors and
            invites everyone in.</p>
    </div>

    <div class="row4 mt-5">
        <div class="items">
            <div class="card border-0">
                <div class="imgitem"><img src="../../assets/design.png"></div>
                <div class="titleitem">Design</div>
                <p class="titledesc">UI design makes it easy to buy crypto.<br>
                    You will understand how to use our<br>platform without much effort</p>
            </div>
            <div class="card border-0">
                <div class="imgitem"><img src="../../assets/apps.png"></div>
                <div class="titleitem">Apps</div>
                <p class="titledesc">Stay on top of the markets with the<br>XonBIT app for Android, iOS and<br> Windows
                </p>
            </div>
            <div class="card border-0">
                <div class="imgitem"><img src="../../assets/community.png"></div>
                <div class="titleitem">Community</div>
                <p class="titledesc">We support the community.<br>putting data in the hands which need it<br> most</p>
            </div>
            <div class="card border-0">
                <div class="imgitem"><img src="../../assets/portfolio.png"></div>
                <div class="titleitem">Portfolio</div>
                <p class="titledesc">Buy and sell popular digital currencies,<br>keep track of them in the one place</p>
            </div>
            <div class="card border-0">
                <div class="imgitem"><img src="../../assets/confidence.png"></div>
                <div class="titleitem">Confidence</div>
                <p class="titledesc">Our markets are always up to date,<br>sparking curiosity with real-world relevance
                </p>
            </div>
            <div class="card border-0">
                <div class="imgitem"><img src="../../assets/protection.png"></div>
                <div class="titleitem">Protection</div>
                <p class="titledesc">For added security, store your funds in a<br> vault with time delayed withdrawals
                </p>
            </div>
        </div>
    </div>
    <div class="row5">
        <div class="desc5">
            <p class="p5" style="margin-bottom: 10px;">Coming November 2024 </p>
            <div class="title5">Build your <br>crypto portfolio<br> anywhere.</div>
            <p class="p52">A powerful cryptocurrency exchange in your pocket.<br>Buy, sell and trade crypto on the
                go.</p>
        </div>
        <div class="img5">
            <img src="../../assets/img5.png">
        </div>
    </div>
    <img src="../../assets/img5.png" class="img6" width="400">
    <div class="row row6">
        <div class="col">
            <button type="button">Get App</button>
        </div>
    </div>
    <div class="row5">
        <div class="col-6 img5">
            <img src="../../assets/row7.png" width="500">
        </div>
        <div class="col-6 desc5">
            <p class="p5" style="margin-bottom: 10px;">Become an affiliate</p>
            <div class="title5">Benefits For You</div>
            <p class="p52">Referring to XonBIT is a win-win situation.</p>
            <ul class="list5">
                <li><img src="../../assets/checklist.svg">Monetize your influence</li>
                <li><img src="../../assets/checklist.svg">Enjoy guaranteed payouts</li>
                <li><img src="../../assets/checklist.svg">Maximize your earnings</li>
            </ul>
            <button type="button" class="buttonba" style="margin-top: 40px;">Become an Affiliate</button>
        </div>
    </div>
    <img src="../../assets/row7.png" class="img6" width="400">
    <div class="row rowlast ">
        <h3>Ready to start trading cryptocurrency?</h3>
        <h1>New users can earn up to $200<br>in crypto rewards.</h1><br>
        <div class="form-container2">
            <input type="email" placeholder="Enter your email address" />
            <button type="button" class="buttonba">Get Started</button>
        </div>
    </div>

</div>