.container-fluid {
    background-color: #F7F9FD;
    margin-bottom: 120px;

}

.title {
    font-family: "DM Sans", sans-serif;
    font-weight: 650;
    font-size: 3.9rem;
    color: #000;
}

.row1 {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 93%;

}

.row1 p,
.row3 p,
.p52 {
    font-family: "DM Sans", sans-serif;
    font-weight: 420;
    font-size: 1rem;
    color: #191B21;
    margin-bottom: 30px;
    margin-top: 20px;
}

.form-container,
.form-container2 {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 18px;
    width: fit-content;
}


input[type="email"] {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 12px 16px;
    border: none;
    width: 250px;
    outline: none;
    height: 55px;
}

input[type="email"]::placeholder {
    color: #8a8888ac;
}

button,
.buttoncoin {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    background-color: #3772FF;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    border-radius: 18px;
    height: 50px;
}

button:hover {
    background-color: #0056b3;
}

.carousel{

    width: 98%;
}

.coinscont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin-left: 20px;
}

.cardcoin {
    background-color: white;
    width: 290px;
    border-radius: 24px;
    padding: 20px 20px 50px;
    font-family: "DM Sans", sans-serif;
    transition: box-shadow 0.3s;
    position: relative;
}

.cardcoin:hover .buttoncoin {
    display: block;
}

.buttoncoincont {
    text-align: center;
}

.buttoncoin {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    width: 85%;
}

.price {
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 50px;
}

.imghome {
    height: 350px;
}

.row3 {
    text-align: center;
    margin-bottom: 100px;


}

.row3 h1 {
    margin: 100px 0 40px;
    font-family: "DM Sans", sans-serif;
    font-weight: 630;
    font-size: 2.7rem;
    color: #000;
}

.row4 {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: space-between;
    width: 90%;
}

.card {
    background-color: #F7F9FD;
    text-align: center;
    display: flex;
    font-family: "DM Sans", sans-serif;
}

.card:hover {
    transform: scale(1.05);
}

.titleitem {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: black;
    margin: 40px 0 10px;
    font-size: 1.6rem;
}

.titledesc {
    color: #777E90;
    font-size: 16px;
    line-height: 1.5;
}

.row5,
.row6,
.row7 {
    width: 95%;
    margin-left: 2%;
    display: flex;
}

.row5 {
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
}

.title5 {
    font-family: "DM Sans", sans-serif;
    font-weight: 640;
    font-size: 3.9rem;
    color: #000;
    text-align: start;
    line-height: 120%;
}

.p5 {
    font-family: "DM Sans", sans-serif;
    font-weight: 620;
    font-size: 1rem;
    color: #777E90;
    margin-bottom: 30px;
    margin-top: -20px;
    text-transform: uppercase;
    width: 400px;
}

.desc5 {
    text-align: start;
    margin-top: 100px;
}

.list5 li {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 25px;
    list-style: none;
}

.list5 img {
    margin-right: 20px;
}

.rowlast {
    margin-top: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #F7F9FD;
}

.rowlast h1 {
    margin-bottom: 40px;
    font-family: "DM Sans", sans-serif;
    font-weight: 630;
    font-size: 2.7rem;
    color: #000;
}

.nav {
    margin-left: 2%;
    margin-top: 27px;
    font-family: "DM Sans", sans-serif;
    list-style: none;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin-right: 70px;
    font-weight: 500;
    font-size: 16px;
    color: #777E90;
    cursor: pointer;
    list-style: none;
}

@media (max-width: 768px) {

    .desc{
        display: none;
    }

    .col2{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    
    .imghome {
        height: 200px;
    }

    .nav ul{
        margin-left: -20px !important;
    }

    .nav 

    .nav ul li {
        margin-right: 0px !important;
        width: 100px;
        font-weight: 500;
        font-size: 13px !important;
        color: #777E90;
        cursor: pointer;
        list-style: none;
    }
    
    .list5 li{
        margin-left: 0;
        width: 300px;
    }

    .buttonba{
        padding: 0%;
        width: 200px;
    }

    .form-container button{
        padding: 2px;
        font-size: 0.9rem;
        width: 100px;
    }

    .container-fluid {
        margin-bottom: 50px;
    }

    .title {
        font-size: 2.5rem;
    }

    .row1 {
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    

    }

    .col1,
    .col2 {
        text-align: center;
        margin-top: 20px;
    }

    .form-container,
    .form-container2 {
        width: 100%;
    }

    input[type="email"] {
        width: 80%;
    }

    .buttoncoin {
        width: 100%;
        bottom: 10px;
    }

    .cardcoin {
        width: 90%;
        margin: 10px auto;
    }

    .row3 h1 {
        font-size: 2rem;
    }

    .nav ul li {
        margin-right: 20px;
        font-size: 14px;
    }

    .rowlast h1 {
        font-size: 2rem;
    }

    .items {
        flex-direction: column;
        text-align: center;
    }

    .imgitem img {
        width: 100px;
    }

    .img5{
        display: none;
    }
}
