h2 {
    margin-top: 46px;
    font-size: 28px;
    font-weight: 500;
}

h1 {
    font-size: 46px;
    font-weight: 600;
    line-height: 48px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    h2 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    h1 {
        font-size: 28px;
        line-height: 32px;
        margin-top: 10px;
    }

    .carousel {
        display: none;
    }
}


.container {
    display: flex;
    margin: 40px 0px 40px 0px;
}


.card1 {
    flex: 1 1 calc(74% - 15px);
    max-width: calc(74% - 15px);
    border-radius: 22px;
    border: 1.3px solid rgba(31, 33, 40, 0.08);
    background-color: #fff;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card1 .card-header {
    cursor: pointer;
}

.card1 .card-header img {
    border-radius: 22px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card1 .card-body {
    flex-grow: 1;
    margin: 0px 40px;
    margin-bottom: 40px;
}

.card1 .card-body .content {
    margin-top: 40px;
    color: #777e90;
}

.card1 .card-body p {
    color: #777e90;
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
}

.card1 .card-body h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: #191b21;
}

.spacer {
    margin-top: 30px;
    width: 12%;
    background-color: #3772ff;
    padding: 1.5px 3px;
}

.card1 .card-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-top: auto;
}

.card2 {
    height: 200px;
    border-radius: 22px;
    border: 1.3px solid rgba(31, 33, 40, 0.08);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    margin-top: 30px;
}

.card2 .card-content {
    display: flex;
    align-items: center;
}

.card2 .promo-image {
    width: 45%;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: -13px;
}

.card2 p {
    color: #777e90;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.card2 h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #191b21;
    margin-top: 8px;
}

.card-content {
    flex-grow: 1;
}

.card2-wrapper {
    width: 22%;
    margin-left: 30px;
    margin-bottom: 40px;
}

.featured-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #191b21;
    margin-bottom: 15px;
}

h2 {
    margin-top: 46px;
    font-size: 28px;
    font-weight: 500;
}

h1 {
    font-size: 46px;
    font-weight: 600;
    line-height: 48px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    h2 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    h1 {
        font-size: 28px;
        line-height: 32px;
        margin-top: 10px;
    }


    .carousel {
        display: none;
    }

    .container {
        flex-direction: column;
        margin: 20px 0;
    }

    .card1 {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .card1 .card-body {
        flex-grow: 1;
        margin: 0px 25px;
        margin-bottom: 40px;
    }

    .card1 .card-body .content {
        margin-top: 20px;
        color: #777e90;
    }

    .card1 .card-body p {
        color: #777e90;
        font-size: 12px;
        font-weight: 400;
        margin-top: 12px;
    }

    .card1 .card-body h2 {
        font-size: 24px;
        line-height: 31px;
        font-weight: 600;
        color: #191b21;
    }

    .card1 .card-body .content {
        margin-top: 15px;
        color: #777e90;
        font-size: 12px;
        font-weight: 400;
    }

    .spacer {
        margin-top: 18px;
        width: 25%;
        background-color: #3772ff;
        padding: 1px 2px;
    }


    .card2-wrapper {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .card2 p {
        color: #777e90;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        margin: 0;
    }

    .card2 h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #191b21;
        margin-top: 8px;
    }

    .card2 {
        width: 100%;
        padding: 20px;
        height: 130px;
    }

    .card2 .promo-image {
        width: 25%;
        height: auto;
        border-radius: 50%;
        margin-right: 15px;
        margin-top: 4px;
    }

    .featured-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0px;
        margin-top: 8px;
    }
}