<div class="row rowcoins">
    <div class="cardcoin order-graph sales-carousel">
        <div class="card-header">
            <div class="row headercoin">
                <div class="col-4 imgcoin">
                    <img [src]="lassets+litnom+ext">
                </div>
                <div class="col">
                    <div class="row tcoin">{{name}}</div>
                    <div class="row acoin">{{litnom}}</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-8 price">{{ price2}} USD</div>
                <div class="col-4 price">
                    <div *ngIf="prcent > 0" style="color: rgb(4, 179, 4);">
                        <img src="../../assets/up.svg" style="margin-bottom: 5px;width: 10px;">
                        {{ prcent }} %
                    </div>
                    <div *ngIf="prcent < 0" style="color: red">
                        <img src="../../assets/down.svg" style="margin-bottom: 5px;width: 10px;">
                        {{ prcent }} %
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="small-chartjs">
                        <img src="../../assets/chartbitcoin.png" width="260">
                    </div>
                </div>

            </div>
        </div>

        <button type="button" class="buttoncoin" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Veiw asset
        </button>
        <!-- Modal -->
        <div class="modal fade" id="" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="cardmodal">
                            <div class="row headermodal">
                                <div class="col-10 coltitle">
                                    <div class="row">
                                        <!-- Image Column -->
                                        <div class="col-2 modalimg">
                                            <img src="../../assets/btc.svg" alt="BTC">
                                        </div>
                                        <!-- Text Columns -->
                                        <div class="col-10">
                                            <div class="row modaltitle1">BTC</div>
                                            <div class="row modaltitle2">Bitcoin</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Close Button Column -->
                                <div class="col-2 colxct" style="cursor: pointer;">
                                    <div class="colx" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="../../assets/x.svg" alt="Close">
                                    </div>
                                </div>
                            </div>

                            <!-- <button type="button" class="button" data-bs-dismiss="modal" aria-label="Close">X</button> -->
                        </div>
                        <div class="ele1 d-flex">
                            <div class="col mb-5">
                                <div class="title">Total Balance</div>
                                <div class="sold">0 <span>BTC</span></div>
                                <div class="pricedet">0.00 USD</div>
                            </div>
                            div class="row ">
                            <div class="col-3 col2 border rounded">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="../../assets/asset1.svg">
                                    </div>
                                    <div class="col col22">
                                        <div class="row title2">Asset Balance</div>
                                        <div class="row price2">0 BTC</div>
                                        <div class="row pricedet2">0.00 USD</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 col2 border rounded">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="../../assets/asset2.svg">
                                    </div>
                                    <div class="col col22">
                                        <div class="row title2">Exchange Balance</div>
                                        <div class="row price2">0 BTC</div>
                                        <div class="row pricedet2">0.00 USD</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-2">
                                <div class="row title2">Asset Balance</div>
                                <div class="row">
                                    <div class="litbx1"></div>
                                </div>
                                <div class="row">
                                    Exchange Balance
                                </div>
                                <div class="row">
                                    <div class="litbx2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button type="button" class="button mt-3" [routerLink]="['/wallets']">
                                    <img src="../../assets/upright.svg" style="margin-right: 10px;">Withdraw
                                </button>
                            </div>
                            <div class="col" style="margin-left: -100px;">
                                <button type="button" class="button mt-3" style="background-color: rgba(31, 33, 40, 0.08);
; color: black;">
                                    <img src="../../assets/downleft.svg" style="margin-right: 10px;">Depposite
                                </button>
                            </div>
                            <div class="col" style="margin-left: -100px;">
                                <button type="button" class="button mt-3" style="background-color: rgba(31, 33, 40, 0.08);
; color: black;">
                                    <img src="../../assets/trade.svg" style="margin-right: 10px;">Trade
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>