* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #F7F9FD;

}

html{
    overflow-y: scroll;
    scrollbar-width: none;
}

@media screen and (max-width: 1457px) {
    /* Sélectionne tous les éléments et les masque */
    * {
      display: none;
    }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
